booking-soap/trains.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TrainBookingService"
             targetNamespace="http://example.com/trainBookingService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://example.com/trainBookingService">

  <!-- Input and output message definitions -->
  <message name="LoginRequest">
    <part name="username" type="xs:string"/>
    <part name="password" type="xs:string"/>
  </message>
  <message name="LoginResponse">
    <part name="result" type="xs:string"/>
    <part name="token" type="xs:string"/>
  </message>

  <message name="SearchTrainsRequest">
    <part name="departureStation" type="xs:string"/>
    <part name="arrivalStation" type="xs:string"/>
    <part name="travelDateTime" type="xs:string"/>
    <part name="tickets" type="xs:int"/>
    <part name="travelClass" type="xs:string"/>
    <part name="token" type="xs:string"/> <!-- Token for auth -->
  </message>
  <message name="SearchTrainsResponse">
    <part name="trains" element="tns:TrainList"/>
  </message>

  <message name="BookTrainsRequest">
    <part name="trainIDs" type="xs:string"/>
    <part name="travelClass" type="xs:string"/>
    <part name="tickets" type="xs:int"/>
    <part name="token" type="xs:string"/> <!-- Token for auth -->
  </message>
  <message name="BookTrainsResponse">
    <part name="result" type="xs:string"/>
    <part name="reservationID" type="xs:int"/>
  </message>


  <message name="CancelReservationRequest">
    <part name="reservationID" type="xs:int"/>
    <part name="token" type="xs:string"/>
  </message>
  <message name="CancelReservationResponse">
    <part name="result" type="xs:string"/>
  </message>

  <message name="GetReservationDetailsRequest">
    <part name="reservationID" type="xs:int"/>
    <part name="token" type="xs:string"/>
  </message>
  <message name="GetReservationDetailsResponse">
    <part name="reservation" element="tns:ReservationDetails"/>
  </message>

  <!-- Complex types for structured responses -->
  <types>
    <xs:schema targetNamespace="http://example.com/trainBookingService">
      <!-- Train structure -->
      <xs:complexType name="Train">
        <xs:sequence>
          <xs:element name="trainID" type="xs:int"/>
          <xs:element name="departureStation" type="xs:string"/>
          <xs:element name="arrivalStation" type="xs:string"/>
          <xs:element name="departureTime" type="xs:string"/>
          <xs:element name="arrivalTime" type="xs:string"/>
          <xs:element name="seatsAvailable" type="xs:int"/>
          <xs:element name="travelClass" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <!-- TrainList -->
      <xs:complexType name="TrainList">
        <xs:sequence>
          <xs:element name="train" type="tns:Train" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <!-- Reservation details -->
      <xs:complexType name="ReservationDetails">
        <xs:sequence>
          <xs:element name="reservationID" type="xs:int"/>
          <xs:element name="username" type="xs:string"/>
          <xs:element name="trainID" type="xs:int"/>
          <xs:element name="travelClass" type="xs:string"/>
          <xs:element name="ticketsReserved" type="xs:int"/>
          <xs:element name="reservationDate" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>

  <!-- PortType -->
  <portType name="TrainBookingPortType">
    <operation name="login">
      <input message="tns:LoginRequest"/>
      <output message="tns:LoginResponse"/>
    </operation>
    <operation name="searchTrains">
      <input message="tns:SearchTrainsRequest"/>
      <output message="tns:SearchTrainsResponse"/>
    </operation>
    <operation name="bookTrains">
      <input message="tns:BookTrainsRequest"/>
      <output message="tns:BookTrainsResponse"/>
    </operation>
    <operation name="cancelReservation">
      <input message="tns:CancelReservationRequest"/>
      <output message="tns:CancelReservationResponse"/>
    </operation>
    <operation name="getReservationDetails">
      <input message="tns:GetReservationDetailsRequest"/>
      <output message="tns:GetReservationDetailsResponse"/>
    </operation>
  </portType>

  <!-- Binding -->
  <binding name="TrainBookingBinding" type="tns:TrainBookingPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="login">
      <soap:operation soapAction="login"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="searchTrains">
      <soap:operation soapAction="searchTrains"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="bookTrains">
      <soap:operation soapAction="bookTrains"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="cancelReservation">
      <soap:operation soapAction="cancelReservation"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="getReservationDetails">
      <soap:operation soapAction="getReservationDetails"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="cancelReservation">
      <soap:operation soapAction="cancelReservation"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <!-- Service -->
  <service name="TrainBookingService">
    <port name="TrainBookingPort" binding="tns:TrainBookingBinding">
      <soap:address location="http://localhost:8000/book"/>
    </port>
  </service>
</definitions>
